@import "./components/UserOperations.css";
@import "./components/UserLog.css";

.login-page{
    input{
        background-color: var(--bg-accent);
    }
    @apply text-accent-1;
    display: flex;
    flex-direction: row;
    > div {
        height: 100%;
    }
    > div:nth-child(1){
        width: 60%;
        > div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-evenly;
        }

        > div:nth-child(1){
            height: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            > div:nth-child(1){
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                h1{
                    font-size: 3vmax;
                }
            }
        }
        > div:nth-child(2){
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            h2{
                font-family: var(--main-font);
                font-size: 5vmin;
                letter-spacing: 1px;
            }
            p{
                font-size: 2vmin;
                width: 30%;
                text-align:center;
            }

            form{
                @apply px-8;
                @apply pt-6;
                @apply pb-8;
                @apply mb-4;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 70%;
                width: 70%;

                >div{ 
                    width:90%;
                    &:nth-child(1){
                        @apply mb-4;
                    }
                    &:nth-child(2){
                        @apply mb-6;
                    }
                    &:nth-child(3){
                        @apply flex;
                        @apply items-center;
                        @apply justify-between;
                        @apply flex-col;
                    }
                    button{
                        
                        border: 0;
                        background-color: var(--accent-color-1);
                        color: var(--bg-color-light);
                        transition: all .3s ease-in;
                        &:hover{
                            background-color: var(--main-color);
                            border: 0;
                        }
                        &:focus{
                            border:0;
                            background-color: var(--main-color);
                        }
                    }
                }
                @media (min-width: 1200px) {
                    > div {
                        width: 60%;
                    }
                }
            }
            
            @media (min-width: 1200px) {
                form{
                    height: 60%;
                }
            }
            
        }
    
        > div:nth-child(3){
            height: 15%;
            width: 100%;
            display: flex; 
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            p{
                width: 40%;
                text-align:center;
                color: var(--accent-color-1);
            }
        }
  
    }

    > div:nth-child(2){
        background: url(../images/login.jpg) no-repeat center center fixed;
        background-size: cover;
        width: 40%;
    }
    svg{
        height: 7vh;
        width: 7vh;
    }

}



.user-options-modal{
    >div{
        height: 60%;
    }
    .user-options{
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        button{
            width: 80%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            h3{
                width: 80%;
                font-size: 1.2rem;
            }
            svg{
                
                height: 5vh;
            }
            &:hover{
                color: var(--accent-color-1);
                border-color: var(--accent-color-1);
            }
        }
    }
}

.password-update-modal{
    > div{
        height: 60%;
        form{
            > div{

                width: 100%;

                &:last-of-type{
                    @apply mt-4;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    
                }
            }
            
        }

    }
}