/* Variables */
@import "./variables.css";

/* Modules */
@import "./modules/menu/index.css";
@import "./modules/dashboard/index.css";
@import "./modules/auth/index.css";
@import "./modules/utils/index.css";
@import "./modules/combos/index.css";

@tailwind base; 
@tailwind components; 
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #f6f6f6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body{
    transition: all .3s ease-in-out;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
  }
  
  .logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  
  a:hover {
    color: #535bf2;
  }
  
  h1 {
    text-align: center;
  }
  
  input,
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    border-color: #396cd8;
  }
  
  input,
  button {
    outline: none;
  }
  
  #greet-input {
    margin-right: 5px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      color: #f6f6f6;
      background-color: #2f2f2f;
    }
  
    a:hover {
      color: #24c8db;
    }
  
    input,
    button {
      color: #ffffff;
      background-color: #0f0f0f98;
    }
  }
  

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.ttf') format('truetype');
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt.ttf') format('truetype');
}

body{
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.form-search{
  width: 95%;
        @media screen and (min-width: 1468px) {
            width: 85%;
        }
        height: 15%;
        @media screen and (min-width: 1600px){
            height: 10%;
        }

        input{
            background-color: var(--bg-color);
            height: 50%;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        > div{
            @media screen and (min-width: 1600px){
                &:nth-child(1){
                    width: 60%;
                }
                &:nth-child(2){
                    width: 40%;
                }
            }
            justify-content: flex-end;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            &:nth-child(2){
                justify-content: flex-end;
                flex-direction: row;
                align-items: flex-end;
                button{
                    height: 50%;
                    width: 75%;
                    padding-top: 0;
                    padding-bottom: 0;
                    background-color: var(--accent-color-1);
                    color: white;
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    
                    /* margin-bottom: 10px; */
                    &:hover{
                        background-color: var(--main-color);
                    }
        
                    &:focus{
                        outline: none;
                        background-color: var(--main-color);
                    }
                }
            }
            
            
        }
}

.page{
    width: 100vw;
    height: 100vh;
}

.titlebar {
    height: 30px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.page{
  transition: all .3s ease-in-out;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  overflow: hidden;
}

input, select, textarea{
  background-color: var(--bg-accent);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  &:focus{
      outline: none;
      border: 1px solid var(--main-color);
  }
  &:hover{
      @apply shadow-lg;
  }
}

form{
  textarea {
    resize: none;
  }

  > div{
    width: 70%;
    @media screen and (min-width: 1600px){
      width: 50%;
    }
    input{
      height: 5vh;
    }
    select{
      height: 6vh;
    }
    > button{
      background-color: var(--accent-color-1) !important;
      color: white; 
      transition: all 0.3s ease-in-out;
      &:hover{
          background-color: var(--main-color) !important;
          border-color: transparent;
      }
  
      &:focus{
          outline: none;
          background-color: var(--main-color) !important;
      }
    }

    > label {
      > span {
        transition: all 0.5s ease-in-out;
        &:hover{
          cursor: pointer;
          transition: inherit;
          &::after{
            transition: inherit;
            position: absolute;
            margin-left: 10px;
            content: "Campo Requerido";
            font-weight: bold;
            color: red;
          }
        }
        
      }
    }
    
    &.form-submit{
      align-items: center;
      justify-content: space-evenly;
      
      > button{
        width: 40%;
        height: 100%;  
      }
    }
  }
}


.section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  > div{
      width: 100%;
      text-align: center;
      
      color: var(--main-color);
      font-size: 2rem;
  }
}

div.item-table {
  > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    > p{
        width: 100%;
        text-align: center;
        color: var(--accent-color-1);
        font-size: 2rem;
        line-height: 40px;
    }
  }


  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
      width: 10px;
  }
  
  &::-webkit-scrollbar-track {
      background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
      background-color: var(--accent-color-1);
      margin: 10px 0;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  height: 80%;
  width: 95%;
  @media screen and (min-width: 1468px) {
      width: 85%;
  }
  @apply shadow-md;
  background-color: var(--bg-color);
  border: 15px solid var(--bg-color);
  overflow-y: auto;
  table{
      width: 100%;
  }

  table, th, td {
    border: 1px solid var(--main-color);
    border-collapse: collapse;
    position: relative;
    thead{
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: var(--main-color);
      color: var(--bg-color);
      border: 0;
      tr{
        th{
          &.active{
            background-color: var(--accent-color-1);
            
            svg{
              color: var(--bg-color);
            }
          }
        }
      }
    }
    tbody{
      tr{
        > td:nth-child(-1){
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
      }
      button {
          margin:10px;
          transition: all 0.5s ease-in-out;
          &:nth-child(1){
            
            border: 1px solid var(--main-color);
            color: var(--main-color);
            
            &:hover{
                background-color: var(--main-color);
                color: var(--bg-color);
            }
          }
          &:nth-child(2){
              border: 1px solid red;
              color: red;
              &:hover{
                  background-color: red;
                  color: var(--bg-color);
              }
          }
      }
    }
    font-size: .9rem;
  }
}