.add-category-section{
    
    .table{
        table, th, td {
            thead{
                th{
                    &:nth-child(1){
                        width: 45%;
                    }
                    &:nth-child(2){
                        width: 35%;
                    }
                    &:nth-child(3){
                        width: 20%;
                    }
                }
            }
            font-size: 1rem;
        }
    }
}

.add-category-modal{
    > div {
        width: 50% !important;
        height: 50% !important;
        h1{
            height: 10%;
            width: 100%;
            text-align: center;
            color: var(--main-color);
            font-size: 1.5rem;
        }
        form{
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            button{
                background-color: var(--accent-color-1);
                color: white; 
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: var(--main-color);
                    border-color: transparent;
                }
            
                &:focus{
                    outline: none;
                    background-color: var(--main-color);
                }
              }
        }
    }
}